/* 전체 배경 */
#root {
  width: 100vw;
  height: 100vh;
  background-color: #e8e8e8;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.line {
  width: 2px;
  height: 95vh;
  background-color: #a5a5a5;

  margin: 0;
}

/* 학생 목록 */
.student-List {
  width: 14vw;
  height: 95vh;

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  text-align: start;
}
.student-Name {
  width: 6vw;
  height: 4vh;
  /* background-color: blue; */
  color: #a5a5a5;
  font-size: 1.3rem;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: transform 1.2s ease-in-out, color 0.5s ease;
}
.student-Name.selected {
  transform: translateX(9vw);
  color: black; /* 클릭 시 텍스트 색상 */
  cursor: default; /* 클릭 후에는 커서를 변경하지 않음 */
}

/* 학생 정보 */
.student-Info {
  width: 40vw;
  height: 80vh;
  /* background-color: red; */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 0lvh;
}
.Introduction {
  width: 35vw;
  height: 5vh;
  /* background-color: green; */
  margin: 20px;
  color: #4b4b4b;
  font-family: Inter;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}
.Text1 {
  width: 35vw;
  height: 30vh;
  color: #919191;
  font-family: Inter;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: justified;
}
.Advantages {
  width: 35vw;
  height: 5vh;
  /* background-color: yellow; */
  color: #4b4b4b;
  font-family: Inter;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}
.Text2 {
  width: 35vw;
  height: 20vh;
  color: #919191;
  font-family: Inter;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: justified;
}

/* 검색란 */
#Search {
  width: 35vw;
  height: 6vh;
  margin-top: 1vh;
  border-radius: 10px;
  border-style: none;
}
#search-But {
  width: 35vw;
  height: 6vh;
  background-color: #919191;
  opacity: 0.5;
  margin: 1vh;
  border-radius: 10px;
  border-style: none;
  color: #f3f3f3;
}
.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
