/* 전체 배경 */
#root {
  width: 100vw;
  height: 100vh;
  background-color: gray;

  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.line {
  width: 5px;
  height: 95vh;
  background-color: aqua;

  margin: 0;
}

/* 학생 목록 */
.student-List {
  width: 14vw;
  height: 95vh;
  background-color: aliceblue;

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  text-align: start;
}
.student-Name {
  width: 5vw;
  height: 4vh;
  /* background-color: blue; */
  font-size: 1.3rem;
  margin-bottom: 10px;
  transition: transform 1.2s ease-in-out;
}

.student-Name:hover {
  transform: translateX(9vw); /* 텍스트를 오른쪽으로 20px 이동 */
}
.student-Name:hover:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff0000; /* 동그란 박스의 배경색 설정 */
  border-radius: 50%; /* 동그란 모양을 만들기 위한 속성 */
  top: 50%; /* 텍스트의 중앙에 위치 */
  left: calc(100% + 5px); /* 텍스트의 오른쪽 끝으로 이동 (+5px는 간격) */
  transform: translate(-50%, -50%); /* 동그란 박스를 정확한 중앙으로 이동 */
}

/* 학생 정보 */
.student-Info {
  width: 75vw;
  height: 95vh;
  background-color: red;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 0lvh;
}
.Introduction {
  width: 70vw;
  height: 5vh;
  background-color: green;
  margin: 20px;
}
.Text1 {
  width: 70vw;
  height: 30vh;
  background-color: pink;
}
.Advantages {
  width: 70vw;
  height: 5vh;
  background-color: yellow;
}
.Text2 {
  width: 70vw;
  height: 20vh;
  background-color: pink;
}

/* 검색란 */
#search {
  width: 70vw;
  height: 6vh;
  background-color: brown;
  margin-top: 1vh;
}
#search-But {
  width: 70vw;
  height: 6vh;
  background-color: black;
  margin: 1vh;
}
